sdk/.settings
sdk/gen
sdk/bin
sample/.settings
sample/gen
sample/bin
sample/sdk_src/
sample/local.properties
integration-test/bin
integration-test/gen
integration-test/.settings
test/coverage
test/test-output
test/gen
test/bin
test/local.properties
ui/bin
ui/gen
ui-sample/bin/
ui-sample/gen/
ui-test/bin
ui-test/gen
ui-test/coverage
ui-test/test-output
build
test/findbugs-output
integration-test/local.properties
*.swp
integration-test/test-output
sample/assets/existing-data/*.json
sample/assets/sample-app.conf
