sdk/.settings
sdk/gen
sdk/bin
sample/.settings
sample/gen
sample/bin
sample/sdk_src/
sample/local.properties
integration-test/bin
integration-test/gen
integration-test/.settings
test/coverage
test/test-output
test/gen
test/bin
test/local.properties
build
test/findbugs-output
integration-test/local.properties
*.swp
integration-test/test-output
