gcm/gen
gcm/bin
sdk/.settings
sdk/gen
sdk/bin
sdk/doc/html
sdk/local.properties
sample/src_ext
gh-pages
*.pyc
*.DS_Store
demo/.settings
demo/gen
demo/bin
sample/.settings
sample/gen
sample/bin
sample/sdk_src/
sample/local.properties
sample/assets/sample-app.conf
sample/assets/socialize.properties
simple-sample/local.properties
simple-sample/bin
simple-sample/gen
simple-sample/.settings
integration-test/bin
integration-test/gen
integration-test/.settings
ui-integration-test/bin
ui-integration-test/gen
ui-integration-test/.settings
ui-integration-test/local.properties
ui-integration-test/test-output
ui-integration-test/running-sdk-cleanup.txt
ui-integration-test/coverage
ui-sample/assets/socialize.properties
test/coverage
test/test-output
test/gen
test/bin
test/local.properties
test/private
snippets/bin
snippets/gen
titanium/bin
ui/bin
ui/gen
ui-sample/bin/
ui-sample/gen/
ui-test/bin
ui-test/gen
ui-test/coverage
ui-test/test-output
ui-test/coverage-ui
ui-test/test-output-ui
build
test/findbugs-output
integration-test/local.properties
*.swp
integration-test/test-output
sample/assets/existing-data/*.json
sample/assets/sample-app.conf
