<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.socialize.testapp"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required to determine network type for analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Optional but recommended -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Optionally add ONE of the following to include location data in comments -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Required for Testing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <activity android:name=".Main" android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".EmptyActivity" android:clearTaskOnLaunch="true"/>
        <activity android:name=".ActionBarActivity" android:clearTaskOnLaunch="true"/>
        <activity android:name=".ActionBarListenerActivity" android:clearTaskOnLaunch="true"/>

        <!-- Activities Required by Socialize -->
        <activity android:name="com.socialize.ui.comment.CommentActivity" android:configChanges="orientation|keyboardHidden" android:clearTaskOnLaunch="true"/>
        <activity android:name="com.socialize.ui.action.ActionDetailActivity" android:clearTaskOnLaunch="true"/>
        <activity android:name="com.socialize.ui.profile.ProfileActivity" android:clearTaskOnLaunch="true"/>
        <activity android:name="com.socialize.auth.facebook.FacebookActivity" android:clearTaskOnLaunch="true"/>
        <activity android:name="com.socialize.ui.SocializeLaunchActivity" android:noHistory="true" android:clearTaskOnLaunch="true"/>

        <!-- Activities Required by Facebook -->
        <activity android:name="com.facebook.LoginActivity" android:clearTaskOnLaunch="true"/>

        <!-- Required for some tests that create Session objects -->
        <!-- DO NOT DELETE (otherwise tests will fail) -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="foobar" />

    </application>
</manifest>
